img {
    width: 300px;
    height: 300px;
}

img.scale {
    transform: scaleX(1.1) scaleY(1.2) ;
}

img.rotate {
    transform: rotate(70deg);
}

img.translate {
    transform: translate(200px, 100px);
}