a {
    cursor: progress;
    margin: 30px;
    padding: 10px;
}
a:visited {
    color: red;
}
a:active {
    color: violet;
}
a:hover {
    background-color: aquamarine;
    color: orange;
    color: rgba(red, green, blue, 0.1);
}

/* Estilização de Listas */

.lista {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
    list-style-image: url(./images/icon.png);

    list-style: square inside url(./images/icon.png);
}

ul li {
    border: 1px solid black;
    background-color: aqua;
    padding: 10px;
}

ol {
    list-style: none;
    list-style-image: url(./images/icon.png);

    list-style: square inside url(./images/icon.png);
}

ol li {
    border: 1px solid black;
    background-color: cadetblue;
    padding: 10px;
}

/* ESTILIZAÇÃO DE BACKGROUND */

p {
    color: coral;
    font-size: 24px;
    font-weight: bold;
}
.bg {
    background-color: lightgreen;
    background-image: url('./images/cat.png');
}
.bg-image {
    width: 513px;
    height: 340px;
}
.bg-repeat {
    background-repeat: no-repeat;
    height: 540px;
}
.bg-cover {
    background-size: cover;
    height: 540px;
}
.bg-fixed {
    background-attachment: fixed;
    height: 540px;
}
.bg-position {
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 540px;

    background: lightgreen url('./images/cat.png') no-repeat center bottom;
}