.titulo-externo {
    background-color: darkcyan;
}

/* CORES NO CSS */

.nome-cor {
    color: darkorange;
}
.hexadecimal {
    color: #555557;
}
.rgb {
    color: rgb(113, 14, 233)
}
.rgba {
    color: rgba(113, 14, 233, 0.4);
}

/* MARGIN, PADDING E BORDER */

.margin {
    width: 400px;
    margin: 30px 20px 15px 25px;
    background-color: #dfcece;
}
.padding {
    width: 400px;
    /* padding-top: 35px;
    padding-right: 30px;
    padding-left: 40px;
    padding-bottom: 30px; */
    /* O padding segue o sentido top-> right-> bottom-> left */
    padding: 35px 30px 40px 30px;
    background-color: #dfcece;
}
.border {
    width: 400px;
    margin: 30px 15px;
    padding: 20px;
    /* border-style: solid;
    border-width: 10px;
    border-color: #df3e3e; */
    border: solid 10px #df3e3e;
}

/* IDs e Classes */

.classe-exemplo {
    background-color: burlywood;
}
.teste {
    border: solid 5px #d05df0;
}
#id-exemplo {
    background-color: darkgoldenrod
}

/* DIV E SPAN */

.exemplo-div {
    width: 400px;
    background-color: darkseagreen;
}
.exemplo-div span {
    color: #df3e3e;
    background-color: black;
}

/* UNIDADES DE MEDIDAS RELATIVAS E ABSOLUTAS */

.relacao {
    background-color: indianred;
    width: 50%;
    font-size: 2rem;
}
.pai {
    background-color: #d05df0;
    width: 50%;
    font-size: 2em;
}
.filho {
background-color: rgb(148, 80, 165);
width: 50%;
font-size: 2rem;
}

.pixel {
    background-color: #dfcece;
    width: 200px;
    height: 50mm;
}

/* BORDER-BOX: BOX-SIZING */

.border-box {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: solid 10px crimson;
    margin: 5px;
}
.com {
    background-color: lightgreen;
    box-sizing: border-box;
}
.sem {
    background-color: skyblue;
}