.titulo-externo {
    background-color: darkcyan;
}

.nome-cor {
    color: darkorange;
}
.hexadecimal {
    color: #555557;
}
.rgb {
    color: rgb(113, 14, 233)
}
.rgba {
    color: rgba(113, 14, 233, 0.4);
}

.margin {
    width: 400px;
    margin: 30px 20px 15px 25px;
}

.padding {

}