:root {
    /* variável global */
    --default-color: orangered;
    --default-fontsize: 20px;
}

h2 {
    /* variável local */
    --default-bcolor: blue;

    color: var(--default-color, green);
    font-size: var(--default-fontsize);
    background-color: var(--default-bcolor);
}

h3{
    color: var(--default-color, green);
    font-size: var(--default-fontsize);
}

p{
    color: var(--default-color, green);
    font-size: var(--default-fontsize);
}

span{
    color: var(--default-color, green);
    font-size: var(--default-fontsize);
}
