*{
    padding: 0;
}

h1{
    font-size: 36px;
}

.paragrafo{
    width: 300px;
}

#menu{
    color: brown;
}

.titulo {
    padding: 15px;
}
.titulo.azul{
    color: blue;
}
.titulo.amarelo{
    color: yellow;
}

/* a classe dupla só funcionará com espaço, ex: ".titulo .amarelo" caso o elemento da classe .titulo tenha um elemento filho com a classe .amarelo */

p, span {
    font-size: 16px;
}

div > p {
    background-color: cadetblue;
}

div + p {
    background-color: darkgrey;
}

a[target=_blank]{
    color: red;
}

a[href="google.com"]{
    background-color: lightcyan
}